table{
  border-collapse: colapse;
  border-spacing: 0;
  width: 500px;
}
tr:nth-child(odd) {
  background-color: aquamarine;
}
td{
  padding: 5px;
  padding-left: 10px;
  text-transform: capitalize;
}
#btn{  
  background: #fa7979;
  border-radius: 10px;
}
#tableColBtn{
  width: 30px;
}