h1, h2, input{
    margin-left: 30px;
}
li{
    list-style: none;
    padding: 5px;
    padding-left: 20px;   
    margin: 5px;
    font-size: 20px;
    background-color: rgb(144, 235, 164);
    display: flex;
    justify-content: space-between;
    height: auto;
    text-transform: capitalize;
}
ul{
    padding-left: 10px;
}
#delBtn{
    background: red;
    border-radius: 20px; 
    width: 35px;   
}
p{
    margin: 5px;
}
#inputData{
    height: 25px;
    width: 400px;
    font-size: 16px;
}
#inputBtn{
    height: 30px;
    margin-left: 10px;
    font-size: 18px;
}
#outputData{
    max-width: 700px;
    padding: 20px;
}