body{
    background-image: url(abstract_L.jpg);
    background-attachment: fixed;
}

h1{
    font-size: 56px;
    font-family: sans-serif;
    color: #c57a19;
}
h3{
    font-size: 26px;
    font-family: sans-serif;
    color: #534f4f;
    font-style: italic;
}
article{
    width: 800px;
    background-color: bisque;
    opacity: 0.5;
}
h2{
    font-size: 20px;
    font-family: sans-serif;
    color: black;
}
article p{
    font-size: 16px;
    font-family: sans-serif;
    color: black;
}
section{
    /* width: 800px;
    background-color: bisque;     */
}
div.transp-box{
    width: 800px;
    background-color: bisque;
    opacity: 0.5; 
}
div.transp-box p{
    font-size: 16px;
    font-family: sans-serif;
    color: black;
}
a{
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    background-color: blue;
    color: azure;
    margin-left: 5px;
    
}